In [1]:
import random

import pandas as pd

In [2]:
df = pd.DataFrame(columns=["A", "B", "compare"])
df

Empty DataFrame
Columns: [A, B, compare]
Index: []

In [7]:
# compare : 0 => A > B / 1 => A < B / 2 => A=B

data_size = 100000
MIN_VALUE = -2147483648
MAX_VALUE = 2147483647

for i in range(data_size):
    A = random.randint(MIN_VALUE, MAX_VALUE)
    B = random.randint(MIN_VALUE, MAX_VALUE)
    compare = 0
    if A < B:
        compare = 1
    elif A == B:
        compare = 2

    df.loc[i] = {'A': A, "B": B, "compare": compare}

df

                A           B  compare
0       794986317 -1209640613        0
1        29595313    58546724        1
2      -466687892   947851993        1
3      1830177708 -1331207851        0
4     -1052692459  -577717936        1
...           ...         ...      ...
99995 -1743624363 -1277084532        1
99996   360290929  1404099116        1
99997    77911364  1762757731        1
99998   733663476  -847322196        0
99999 -1861743306  -173173188        1

[100000 rows x 3 columns]

In [12]:
# 같은 값의 데이터가 비정상적으로 적으므로 500개 추가
for i in range(len(df), len(df)+50000):
    A = random.randint(0, 100)
    
    df.loc[i] = {'A': A, "B": A, "compare": 2}

In [13]:
df.to_csv("./compare_data")